<div class="jumbotron">
    <h1 class="display-4">News Scraping with ESPN.com</h1>
    <p class="lead">Read the Latest Articles about your favorite sports!</p>
    <p>Leave a comment by clicking on the article title</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Articles</a>
    <br>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="articleList">
     
            </div>
        </div>
        <div class="col-4">
          <div id="notes"></div>
          <div id="articleNotes"></div>
        </div>

        {{!-- <div id="articles"></div> --}}
        